<div class="flex items-center justify-center">
  <button mat-button (click)="exitPortal()" type="button">
    <mat-icon>close</mat-icon>Închide
  </button>
</div>

<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="flex items-center gap-2">
        <mat-icon class="example-tab-icon">assignment</mat-icon>

        <header>MACI</header>
      </div>
    </ng-template>

    <div
      class="flex flex-col items-center gap-2 mt-40 max-md:mt-20 w-3/5 m-auto"
    >
      <div class="flex flex-col items-center gap-15">
        <div class="flex flex-col items-center">
          <header class="text-6xl">MACI</header>
          <header class="text-2xl">Testare și Scorare</header>
        </div>

        <form
          class="flex flex-col items-center gap-5"
          (ngSubmit)="onSubmit()"
          #maciPortalForm="ngForm"
        >
          <div class="flex max-md:flex-col items-center gap-4">
            <mat-form-field appearance="outline">
              <mat-label>Data nașterii</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="clientMaciService.dateOfBirth"
                name="dateOfBirth"
                required
              />
              <mat-hint>Ziua / Luna / Anul</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Gen</mat-label>
              <mat-select
                [(ngModel)]="clientMaciService.gender"
                name="gender"
                (selectionChange)="clientMaciService.setGender($event.value)"
                required
              >
                <mat-option [value]="'Masculin'">Masculin</mat-option>
                <mat-option [value]="'Feminin'">Feminin</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nume și Prenume</mat-label>
              <input
                matInput
                [(ngModel)]="clientMaciService.name"
                name="name"
                required
              />
            </mat-form-field>
          </div>

          <div class="flex items-center gap-4">
            <button
              mat-flat-button
              type="submit"
              [disabled]="!maciPortalForm.valid"
            >
              Începe testul
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="flex items-center gap-2">
        <mat-icon class="example-tab-icon">group_search</mat-icon>

        <header>Clienți</header>
      </div>
    </ng-template>

    <div class="mt-15 w-4/5 max-md:w-full m-auto">
      <div class="flex flex-col gap-4 items-start w-full">
        <mat-form-field appearance="outline">
          <mat-label>Filtrează</mat-label>

          <input
            matInput
            (keyup)="applyMaciTableFilter($event)"
            placeholder="Ex. 'nume'"
            #input
          />

          <mat-icon matIconSuffix matTooltip="Filtreză clienții"
            >search</mat-icon
          >
        </mat-form-field>

        <table mat-table [dataSource]="allMaciClients" matSort>
          <!-- Delete client Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let client">
              <button
                mat-icon-button
                (click)="openDeleteMaciClientDialog(client, '0ms', '0ms')"
                matTooltip="Șterge client"
              >
                <mat-icon fontIcon="delete_forever"></mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Sortează după nume"
            >
              Nume
            </th>
            <td mat-cell *matCellDef="let client">{{ client.name }}</td>
          </ng-container>

          <!-- Age Column -->
          <ng-container matColumnDef="age">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Sortează după vârstă"
            >
              Vârstă
            </th>
            <td mat-cell *matCellDef="let client">
              {{ client.dateOfBirth | date : "dd/MM/yyyy" }} ({{
                client.age
              }}
              ani)
            </td>
          </ng-container>

          <!-- Gender Column -->
          <ng-container matColumnDef="gender">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Sortează după gen"
            >
              Gen
            </th>
            <td mat-cell *matCellDef="let client">{{ client.gender }}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Sortează după dată"
            >
              Dată
            </th>
            <td mat-cell *matCellDef="let client">
              {{ client.date | date : "dd.MM.yyyy" }}
            </td>
          </ng-container>

          <!-- Answers / Scores Column -->
          <ng-container matColumnDef="answers-scores">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let client">
              <div class="flex items-center gap-2 justify-end">
                <button
                  mat-button
                  (click)="selectClient(client); viewAnswers()"
                >
                  <mat-icon>assignment</mat-icon>Răspunsuri
                </button>

                <button
                  mat-button
                  *ngIf="client.scores.length !== 0"
                  (click)="selectClient(client); viewResults()"
                >
                  <mat-icon>assignment_turned_in</mat-icon>Scoruri
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedMaciTableColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedMaciTableColumns"
          ></tr>
        </table>

        <p *ngIf="allMaciClients.data.length === 0">
          Lista de clienți este goală.
        </p>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          [showFirstLastButtons]="true"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
