.mcmi-3-results-header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.mcmi-3-results-final-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}

.mcmi-3-results {
  padding-bottom: 50px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 300px);
  .mcmi-3-results-scale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
    .mcmi-3-results-br {
      color: #1976d2;
    }
  }
}
