<div class="maci-portal" *ngIf="!testMaciService.startTest">
    <button mat-button (click)="testMaciService.reset(); callMaciBtn()"><mat-icon fontIcon="close"></mat-icon>
        Închide</button>
    <header class="maci-portal-header">
        <h1>MACI
            <h6>Testare și Scorare</h6>
        </h1>
    </header>
    <form class="maci-portal-form" (ngSubmit)="onSubmit()" #maciPortalForm="ngForm">
        <div class="maci-portal-form-inputs">
            <mat-form-field [(ngModel)]="testMaciService.gender" name="gender" appearance="outline">
                <mat-label>Gen</mat-label>
                <mat-select required>
                    <mat-option [value]="testMaciService.gender"
                        (click)="testMaciService.isMaleBtn()">Masculin</mat-option>
                    <mat-option [value]="testMaciService.gender"
                        (click)="testMaciService.isFemaleBtn()">Feminin</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field [(ngModel)]="testMaciService.age" name="age" appearance="outline">
                <mat-label>Vârstă</mat-label>
                <mat-select required>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(13)">13</mat-option>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(14)">14</mat-option>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(15)">15</mat-option>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(16)">16</mat-option>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(17)">17</mat-option>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(18)">18</mat-option>
                    <mat-option [value]="testMaciService.age" (click)="testMaciService.setAge(19)">19</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nume și Prenume</mat-label>
                <input matInput required [(ngModel)]="testMaciService.name" name="name"
                    [disabled]="!testMaciService.gender || !testMaciService.age" />
            </mat-form-field>
        </div>
        <button mat-flat-button type="submit"
            [disabled]="!maciPortalForm.valid || !testMaciService.gender || !testMaciService.age">Începe
            testul</button>
    </form>
</div>