@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-material-blue: #1976d2;
  --color-material-light-blue: #6cddff;
}

* {
  transition: background-color 0.5s ease;
}

.theme-toggle-btn mat-icon {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
