<div class="flex flex-col m-auto gap-10 w-3/5">
  <button mat-button (click)="exportBackup()">
    <mat-icon>backup</mat-icon> Descarcă bazele de date
  </button>

  <mat-card appearance="outlined" class="p-4">
    <mat-card-content>
      <div class="flex flex-col">
        <header class="text-4xl">MACI</header>
        <p>Inventarul Clinic Millon pentru adolescenți</p>
      </div>
    </mat-card-content>

    <mat-card-actions class="flex justify-end">
      <button mat-flat-button (click)="maciBtn()">Deschide</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="p-4">
    <mat-card-content>
      <div class="flex flex-col">
        <header class="text-4xl">MCMI-III</header>
        <p>Inventarul Clinic Multiaxial Millon</p>
      </div>
    </mat-card-content>

    <mat-card-actions class="flex justify-end">
      <button mat-flat-button (click)="mcmi3Btn()">Deschide</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="p-4">
    <mat-card-content>
      <div class="flex flex-col">
        <header class="text-4xl">EXPLORAREA “PERSONALITĂŢII ACCENTUATE”</header>
        <p>Chestionar eleborat de H. Schmieschek</p>
      </div>
    </mat-card-content>

    <mat-card-actions class="flex justify-end">
      <button mat-flat-button (click)="paSchmieschekBtn()">Deschide</button>
    </mat-card-actions>
  </mat-card>
</div>
