.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 90%;
  height: 100vh;
  gap: 50px;
  .home-maci-card,
  .home-mcmi-3-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 110px 55px;
    gap: 10px;
    transition: all 100ms;
    &:hover {
      cursor: pointer;
      color: #1976d2;
    }
    .home-maci-card-title,
    .home-mcmi-3-card-title {
      font-size: 55px;
    }
    .home-maci-card-icon,
    .home-mcmi-3-card-icon {
      font-weight: bold;
    }
  }
}
